<table class="table table-borderless table-sm" style="margin-top: 2%">
    <thead>
        <tr>
            <th style="width: 1%"><a title="Tous les sujets auxquels j'ai participé" href="{{ path('allFlagsList', { 'color': 'blue' }) }}"><i class="fas fa-bookmark bluemark"></i></a></th>
            <th style="width: 1%"><a title="Tous les sujets que j'ai commencé à lire uniquement" href="{{ path('allFlagsList', { 'color': 'green' }) }}"><i class="fas fa-bookmark greenmark"></i></a></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>