<div class="legende">
    <img src="/build/images/icones/on.gif">&nbsp;Nouveaux messages dans une catégorie
    <br><br><img src="/build/images/icones/off.gif">&nbsp;Pas de nouveau message dans une catégorie
	<br><br><img src="/build/images/icones/newmsg.gif">&nbsp;&nbsp;Nouveau message dans un sujet
	<br><br><img src="/build/images/icones/nomsg.gif">&nbsp;&nbsp;Pas de nouveau message dans un sujet
	<br><br>&nbsp;<i class="fas fa-bookmark bluemark"></i>&nbsp;&nbsp;&nbsp;Allez au dernier message lu dans un sujet que vous avez consulté
	<br><br>&nbsp;<i class="fas fa-bookmark greenmark"></i>&nbsp;&nbsp;&nbsp;Allez au dernier message lu dans un sujet auquel vous avez participé
</div>
<br><br>