<a class="btn btn-secondary" href="{{ path('delete') }}" role="button">Supprimer</a>

<table class="table table-bordered table-sm" style="padding-top: 10%">
    <thead class="topbotbackground" style="color: #000080; font-weight: bold">
        <tr>
            <td class="align-middle text-center" style="width: 33%" height="60">ip</td>
            <td class="align-middle" style="width: 33%" height="60">page</td>
            <td class="align-middle" style="width: 33%" height="60">date</td>
        </tr>
    </thead>
    <tbody>
        {% for traffic in traffics %}
            <tr style="background-color: #DEDFDF">
                <td style="width: 10%; font-weight: bold" height="60">
                    {{ traffic.ip }}
                </td>
                <td style="width: 10%; font-weight: bold" height="60">
                    {{ traffic.page }}
                </td>
                <td style="width: 10%; font-weight: bold" height="60">
                    {{ traffic.date|date('d/m/Y à H\\:i\\:s') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>